<div class="navbar">
    <div class="nav-group-left">
        <div class="nav-group-main">
            <a class="nav" href="/">home</a>
            <a class="nav" href="/best/">best</a>
            <a class="nav" href="/about/">about</a>
        </div>
        <div class="nav-group-pagination">
            <a id="previous" class="nav" href="{{previous}}">prev</a>
            <a id="next" class="nav" href="{{next}}">next</a>
        </div>
    </div>
    <div class="nav-group-right">
        <div class="dropdown">
            <div class="nav dropbtn">contact</div>
            <div class="dropdown-content">
                <a id="bsky" href="https://bsky.app/profile/culturing.bsky.social" target="_blank">bsky</a>
                <a id="youtube" href="https://www.youtube.com/channel/UCqOgJLPDUhKz9DZQivo99PQ" target="_blank">youtube</a>
                <a id="email" href="mailto:author@culturing.net">email</a>
            </div>
        </div>
        <a id="pdf" class="nav" href="/culturing.pdf">pdf</a>
        <a id="print" class="nav" href="javascript:window.print()">print</a>
    </div>
</div>