<div class="navbar">
    <a class="wordmark" href="/">culturing</a>
    <div class="nav-group-right">
        <a class="nav" href="/best/">best</a>
        <a class="nav" href="/themes/">themes</a>
        <a class="nav" href="/index/">index</a>
        <a class="nav" href="/about/">about</a>
        <a id="pdf" class="nav" href="/culturing.pdf">pdf</a>
        <details class="dropdown">
            <summary class="nav dropbtn">contact</summary>
            <div class="dropdown-content">
                <a id="bsky" href="https://bsky.app/profile/culturing.bsky.social" target="_blank" rel="noopener">bsky</a>
                <a id="youtube" href="https://www.youtube.com/channel/UCqOgJLPDUhKz9DZQivo99PQ" target="_blank" rel="noopener">youtube</a>
                <a id="email" href="mailto:author@culturing.net">email</a>
            </div>
        </details>
    </div>
</div>
