<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preload" href="../../Styles/quattrocento-latin.woff2" as="font" type="font/woff2">
<link rel="stylesheet" type="text/css" href="../../Styles/fonts.css" />
<link rel="stylesheet" type="text/css" href="../../Styles/toc.css" />

<body>
    <div id="header">
        <h1>Index</h1>
    </div>
    <div id="container-parent">
        <div id="container">
            <div class="toc-section">
                {{index}}
            </div>
        </div>
    </div>
</body>
</html>