<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preload" href="../../Styles/quattrocento-latin.woff2" as="font" type="font/woff2">
<link rel="stylesheet" type="text/css" href="../../Styles/fonts.css" />

<style>
    body {
        font-family: Quattrocento;
        background-color: white;
        color: black;
        line-height: 1.25rem;
        margin: 0;
        padding: 1rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .copyright {
        white-space: pre;
    }
</style>

<body>
    <div class="container">
        <div class="copyright">
© {{year}} by culturing

All rights reserved

This book may be printed for personal use
All other reproduction is prohibited
        </div>
    </div>
</body>