<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preload" href="/quattrocento-regular-webfont.woff" as="font" type="font/woff2">
<link rel="stylesheet" type="text/css" href="/fonts.css" />
<link rel="stylesheet" type="text/css" href="/common.css" />

<style>
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    .epigraph blockquote {
        margin-left: 0;
        margin-right: 0;
        text-align: justify;
        font-style: italic;        
    }

    .epigraph figcaption {
        text-align: right;
    }

</style>

<body>
    <div class="container">
        <figure class="epigraph">
            <blockquote>
                <div>A man is only half understood when we know how everything in him came into being. If that were all, he could just as well have been dead years ago. As a living being he is not understood, for life does not have only a yesterday, nor is it explained by reducing today to yesterday. Life has also a tomorrow, and today is understood only when we can add to our knowledge of what was yesterday the beginnings of tomorrow.</div>
            </blockquote>            
            <figcaption>
                Carl Jung, <cite>On the Psychology of the Unconscious</cite>
            </figcaption>
        </figure>
        <figure class="epigraph">
            <blockquote>
                <div>Man can suffer only a certain amount of culture without injury.</div>
            </blockquote>
            <figcaption>
                Ibid
            </figcaption>
        </figure>
    </div>
</body>