.dropbtn {
    color: rgb(245, 245, 245, 0.5);
    cursor: pointer;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
    padding: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 100;
    background-color: rgb(10, 10, 10);
}

.dropdown-content a {
    color: rgb(245, 245, 245, 0.5);
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(245, 245, 245, 0.25);
}

.dropdown:hover .dropdown-content {
    display: block;
}