div { padding-bottom: 4px; }
h1 { margin: 0; padding: 1rem; }
h2 { margin: 0; padding-bottom: 1rem; }
h3 { padding-top: 1rem; padding-bottom: 0.5rem; }
#container-chronology h2 { padding-bottom: 0; }
#container-chronology h3:first-child { padding-top: 0; }
#print, .nav-group-pagination { display: none !important; }

@media only screen and (min-width : 769px)
{
    #container { display: flex; flex-direction: row; justify-content: center; }
    #container-parent { display: flex; flex-direction: column; justify-content: center; min-height: 100%; }
    #container-chronology { padding-right: 24px; }
    #container-index { padding-left: 24px; }
    #header { display: flex; flex-direction: row; align-items: baseline; }
    #header a { margin-left: 1rem; }
}

@media only screen and (max-width : 768.99px)
{
    h1 { padding-left: 0; }
    #container-index h2 { padding-top: 2rem; }
    #container-chronology { padding-top: 1rem;}
}

@media only screen and (max-width : 512px)
{
    #container-parent { min-height: unset; }
}