body { font-family: Quattrocento; background-color: rgb(10, 10, 10); color: rgb(245, 245, 245); line-height: 1.25rem; margin: 0; padding: 1rem; }
a { text-decoration-color: rgb(245, 245, 245); color: rgb(245, 245, 245); text-decoration-thickness: 0;}
h3 { margin: 0; }
#container { display: flex; flex-direction: row; justify-content: center; }
#container-parent { display: flex; flex-direction: column; justify-content: center; min-height: calc(100% - 67px); } 
#content h3 { padding-top: 2rem; }
.navbar { display: flex; flex-direction: row; justify-content: space-between; align-items: center; }
.nav { padding: 0.5rem; text-decoration: none; color: rgba(245,245,245,0.5); }
.nav:hover { background-color: rgb(245,245,245,0.25); }
.mr-auto { margin-right: auto; }

@media only screen and (min-width : 769px)
{
    #content { max-width: 61.8% }
}

@media only screen and (min-width : 513px)
{
    .navbar.mobile { display: none; }
}

@media only screen and (max-width : 512px)
{
    .navbar:not(.mobile) { display: none; }
    .navbar.mobile { flex-wrap: wrap; }
    #content:not(.wrap) { white-space: nowrap; width: 100%; }
    #container-parent { min-height: unset; }
}

@media only print
{
    body { background-color: white; color: black; }
    #license { display: none; }
    a { text-decoration-color: black; color: black; }
    .navbar { display: none; }
}