#container { display: flex; flex-direction: row; justify-content: center; }
#container-parent { display: flex; flex-direction: column; justify-content: center; min-height: calc(100% - 67px); } 
#content h3 { padding-top: 2rem; }
.url, #pdf { display: none; }
blockquote { margin: 0; font-size: small; font-style: italic; }
figcaption { text-align: right; font-size: small; margin-top: 0.25rem; }

@media only screen and (min-width : 769px)
{
    #content { max-width: 61.8% }
}

@media only screen and (max-width : 512px)
{
    #container { justify-content: flex-start; }
    #content:not(.wrap) { white-space: nowrap; overflow-x: auto; min-width: 0; }
    #container-parent { min-height: unset; }
}

@media only print
{
    .url { display: block; }
}