body { font-family: Quattrocento; background-color: black; color: whitesmoke; line-height: 1.25rem; margin: 0; padding: 1rem; }
div { padding-bottom: 4px; }
h1 { margin: 0; padding: 1rem; }
h2 { margin: 0; padding-bottom: 1rem; }
h3 { margin: 0; padding-top: 1rem; padding-bottom: 0.5rem; }
a { text-decoration-color: whitesmoke; color: whitesmoke; text-decoration-thickness: 0;}

#container-chronology h2 { padding-bottom: 0; }

@media only screen and (min-width : 1025px)
{
    #container { display: flex; flex-direction: row; justify-content: center; }
    #container-parent { display: flex; flex-direction: column; justify-content: center; min-height: 100%; }
    #container-chronology { padding-right: 24px; }
    #container-index { padding-left: 24px; }
    #header { display: flex; flex-direction: row; align-items: baseline; }
    #header a { margin-left: 1rem; }
}
@media only screen and (max-width : 1024px)
{
    h1 { padding-left: 0; }
    #container-index h2 { padding-top: 2rem; }
    #container-chronology { padding-top: 1rem;}
}